/* Overloading */
img {
  border: 0
}

a {
    text-decoration: none;
    cursor: pointer;
    color:#646464;
}

/* Tile */
.leaftr-tile
{
 	float: left;
	margin: 8px;

  border: 7px solid #fff;
  border-color: #fff;
  background-color: #fff;
  overflow: hidden;
  font-size: 11px;

  box-shadow: 0 1px 3px rgba(34,25,25,0.4);

  display: block;

  cursor: pointer;
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
  cursor: zoom-in;
}

#leaftr {
   /* Prevent vertical gaps */
   line-height: 0;
   
   -webkit-column-count: auto;
   -webkit-column-gap:   0px;
   -moz-column-count:    auto;
   -moz-column-gap:      0px;
   column-count:         auto;
   column-gap:           0px;
 
}

#leaftr div {
  /* Just in case there are inline attributes
  width: 100px !important;*/
  height: auto !important;
}


.leaftr-tile:hover
{
	opacity: 0.5;
}

/*@media (max-width: 1200px) {
  #leaftr {
  -moz-column-count:    4;
  -webkit-column-count: 4;
  column-count:         4;
  }
}
@media (max-width: 1000px) {
  #leaftr {
  -moz-column-count:    3;
  -webkit-column-count: 3;
  column-count:         3;
  }
}
@media (max-width: 800px) {
  #leaftr {
  -moz-column-count:    2;
  -webkit-column-count: 2;
  column-count:         2;
  }
}
@media (max-width: 400px) {
  #leaftr {
  -moz-column-count:    1;
  -webkit-column-count: 1;
  column-count:         1;
  }
}*/