/* Overloading */
img {
  border: 0
}

a {
    text-decoration:    none;
    cursor:             pointer;
    color:              #646464;
}

/* Tile */
.leaftr-tile
{
    position:   absolute;
    top:        0;
    left:       0;
	margin:     8px;

    border: 7px solid #fff;
    border-color:     #fff;
    background-color: #fff;
  
    font-size:  11px;
  
    display:    block;

    box-shadow: 0 1px 3px rgba(34,25,25,0.4);
    cursor:     pointer;
    cursor:     -webkit-zoom-in;
    cursor:     -moz-zoom-in;
    cursor:     zoom-in;
}

.leaftr-tile:hover
{
    opacity:    0.5;
}

.leaftr-tile-hover
{
     z-index:   10;
     position:  relative;
     bottom:    0;
}

#leaftr {
   /* Prevent vertical gaps */
   /*line-height: 0;*/
   
   -webkit-column-count: auto;
   -webkit-column-gap:   0px;
   -moz-column-count:    auto;
   -moz-column-gap:      0px;
   column-count:         auto;
   column-gap:           0px;
   
   position: relative;
}