/* Overloading */
img {
  border: 0
}

a {
    text-decoration:    none;
    cursor:             pointer;
    color:              #646464;
}

#leaftr {
    overflow: auto;
}

#leaftr-wheel img { width: 100%; }

.item { width: 20%; }
.item.w2 { width: 40%; }

.item img { width: 100%; }

.item {
    margin-top: 5px;
    border: 7px solid #fff;
    border-color: #fff;
    background-color: #fff;
    overflow: hidden;
    font-size: 11px;
    position: absolute;

    box-shadow: 0 1px 3px rgba(34,25,25,0.4);

    cursor: pointer;
    cursor: -webkit-zoom-in;
    cursor: -moz-zoom-in;
    cursor: zoom-in;
}

.item:hover
{
    opacity:    0.5;
}