/* Overloading */
img {
  border: 0
}

a {
    text-decoration: none;
    cursor: pointer;
    color:#646464;
}

/* Tile */
.leaftr-tile
{
 	float: left;
	margin: 8px;

    border: 7px solid #fff;
    border-color: #fff;
    background-color: #fff;
    overflow: hidden;
    font-size: 11px;

    box-shadow: 0 1px 3px rgba(34,25,25,0.4);

    display: block;

    cursor: pointer;
    cursor: -webkit-zoom-in;
    cursor: -moz-zoom-in;
    cursor: zoom-in;
}

.leaftr-tile:hover
{
	opacity: 0.5;
}


/*.tile-hover
{
	z-index: 	5001;
	height: 	30%;
}*/